*
{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header
{

  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.trybewarts-header-logo
{

  width: 50px;
}

form.trybewarts-login
{

  display: flex;
  flex-wrap: wrap;
}

#trybewarts-header-title {

  color: white;
  font-size: 2.2em;
  align-self: center;

}

.container {

  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;

}

#trybewarts-forms-logo {

  height: 500px;

}

.box-wrap-form {

  width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;

}

.box-radio {

  display: flex;
  flex-direction: column;
  margin-left: 20px;

}

#label-family {

  font-size: 1.2em;
  margin-bottom: 10px;

}

.box-check {

  display: flex;
  flex-direction: column;
  margin-right: 20px;

}

.grades {

  padding: 20px;
  margin-top: 10px;
  justify-content: space-between;
  display: flex;

}

#footer {

  padding: 10px;
  background-color: rgb(50, 167, 145);
  text-align: center;

}

#submit-btn {

  width: 500px;
  padding: 10px;
  background-color: purple;
  color: white;

}
